@media screen and (max-width: 767px) {
      /*headerの横幅を250pxにする*/
      /*rightの横幅を100pxにする*/
      /*footerの横幅を250pxにする*/
      .header {
        width: 250px;
      }
      .middle_right {
        width: 100px;
      }
      .bottom{
        width: 250px;
      }
}

@media screen and (max-width: 479px) {
  /*headerの横幅を250pxにする*/
  /*rightの横幅を100pxにする*/
  /*footerの横幅を250pxにする*/
  .header {
    width: 150px;
  }
  .middle_right {
    width: 1500px;
  }
  .bottom{
    width: 150px;
  }
  
}