

.clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}

.wrapper{
  width: 400px;
  margin: auto;
}

.top {
 height:100px;
 background-color: #141f40;
}

.middle{
  height: 250px;
  display: flex;
}
.middle_left{
 width: 150px;
 float: left; 
 background-color: #80bfa8;
}

.middle_right{
  width: 250px;
  float: right; 
  background-color: #8c2727;
}

.bottom{
  height: 100px;
  background-color: #d98d30;
}